:root {
    --side-padding: 40px;

    --color-stark: #FB8500;
    --color-brand: #003459;
    --color-light: rgb(3, 116, 154);
    --color-main: #ffffff;
    --font-color-light: #ece0e0; 
}

div.container {
    height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 3fr;
}

div.head {
    background: var(--color-brand);
    color: var(--font-color-light);

    grid-row: 1 / 2;
    grid-column: 1 / -1;

    padding: 10px var(--side-padding);

    display: flex;
    justify-content: space-between;
    align-items: center;

    div.site-name {
        display: flex;
        align-items: center;

        font-size: 30px;
        font-weight: 900;

        span {
            font-size: 50px;
        }
    }
}

div.navbar {
    background: var(--color-light);
    padding: 0 var(--side-padding);
    color: var(--font-color-light);

    h2 {
        border-color: var(--font-color-light);
    }

    button {
        justify-content: start;

        width: 100%;
        text-align: left;
        margin-top: 15px;
        font-size: 20px;

        padding: 5px 10px;

        background: none;
        border-radius: 5px;
        background: var(--font-color-light);
    }
}

div.main {
    background: var(--color-main);

    padding: 20px var(--side-padding);

    display: grid;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    row-gap: 15px;
}