:root {
  --side-padding: 40px;

  --color-stark: #fb8500;
  --color-brand: #003459;
  --color-light: rgb(3, 116, 154);
  --color-main: #ffffff;
  --font-color-light: #ece0e0;
}

div.container {
  height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr 3fr;
}

div.head {
  background: var(--color-brand);
  color: var(--font-color-light);

  grid-row: 1 / 2;
  grid-column: 1 / -1;

  padding: 10px var(--side-padding);

  display: flex;
  align-items: center;
  gap: 30px;

  div.site-name {
    display: flex;
    align-items: center;

    font-size: 30px;
    font-weight: 900;

    span {
      font-size: 50px;
    }

    margin-left: auto;
  }
}

div.navbar {
  background: var(--color-light);
  padding: 0 var(--side-padding);
  color: var(--font-color-light);

  grid-column: 1 / 2;
  transition: all 200ms ease-in-out;

  h2 {
    border-color: var(--font-color-light);
  }

  button {
    justify-content: start;

    width: 100%;
    text-align: left;
    margin-top: 15px;
    font-size: 20px;

    padding: 5px 10px;

    background: none;
    border-radius: 5px;
    background: var(--font-color-light);
  }
}

div.navbar.hide {
  transform: translate(-100%, 0);
}

div.navbar.hide + div.main {
  // grid-column: 1 / -1;
  // adding this is making the animation choppy because grid is activated immediately whereas the translation is not
  transform: translate(-15%, 0);
  // hard-coded, suboptimal behavior
}

div.main {
  transition: all 200ms ease-in-out;

  background: var(--color-main);
  padding: 20px var(--side-padding);

  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: grid;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  row-gap: 15px;
}
